<div class="panel panel-primary">
	<div class="panel-heading">Submit Expense</div>
	<div class="panel-body">
		<div>
	        <form novalidate class="form-horizontal" role="form" name="expenseForm" ng-submit="expenseForm.$valid && submit(expense)">
	        	<div class="form-group">
					<label class="control-label col-sm-2" for="date">Date:</label>
                    <div class="col-sm-10">
					   <input ng-click="viewFocused()" id="date" autocomplete="off" ng-model="expense.date" ng-required="true"/>
                    </div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="amount">Amount (R 0.00):</label>
                    <div class="col-sm-10">
					   <input id="amount" class="form-control" ng-model="expense.amount" autocomplete="off" ng-required="true"/>
                    </div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="expenseType">Expense Type:</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="reference" id="expenseType" ng-model="expense.expenseType" ng-required="true">
							<option value="PETROL">Petrol</option>
							<option value="CLEANING_EQP">Cleaning Equipment</option>
							<option value="WAGES">Wages</option>
							<option value="ROYALTY">Royalties</option>
							<option value="RENT">Rent</option>
							<option value="MOTOR_EQP">Motor Related</option>
                            <option value="MARKETING">Marketing</option>
							<option value="AIR_TIME">Air time/Data</option>
							<option value="OTHER">Other</option>
                        </select>
                    </div>
				</div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="what"></label>
                    <div class="col-sm-10">
                        <input class="btn btn-default" type="submit" value="Submit" ng-disabled="!expenseForm.$valid" />
                    </div>
                </div>
        	</form>
		</div>
    </div>
</div>
