<div class="panel panel-primary">
	<div class="panel-heading">Log in</div>
	<div class="panel-body">
		<div ng-show="logInfo.loggedInUser.loggedIn">
			<div>Logged in as : {{logInfo.loggedInUser.username}}</div>
			<button class="btn btn-default" ng-click="logout()">Logout</button>
		</div>
		<div ng-show="!logInfo.loggedInUser.loggedIn">
			<form novalidate class="form-horizontal" role="form"  name="loginForm" ng-submit="loginForm.$valid && login(login)">
				<div class="form-group">
					<label class="control-label col-sm-2" for="username">Username:</label> 
                    <div class="col-sm-10">
                        <input name="username" id="username" class="form-control" ng-model="login.username" autocomplete="off" ng-required="true">
                    </div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="pwd">Password:</label>
                    <div class="col-sm-10"> 
                        <input name="pwd" id="pwd" type="password" class="form-control" ng-model="login.password" ng-required="true">
                    </div>
				</div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="what"></label>
                    <div class="col-sm-10">
                        <input class="btn btn-default" value="Submit" type="submit" ng-disabled="!loginForm.$valid"/>
                    </div>
                </div>
			</form>
		</div>
	</div>
</div>