<div class="panel panel-primary">
	<div class="panel-heading">
		Previous Payments
	</div>
	<div class="panel-body">
		<div>
                <div class="col-sm-10">			
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Account</th>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Reference</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-click="showPayment(payment.id)" ng-repeat="payment in allPayments" ng-class-odd="success; selectable" ng-class-even="danger; selectable">
                                <td>{{payment.account.displayName}}</td>
                                <td>{{payment.date | date}}</td>
                                <td>R {{payment.amount}}</td>
                                <td>{{payment.reference}}</td>
                            </tr>
                        </tbody>
                    </table>
	           </div>
		</div>
	</div>
</div>