<div class="panel panel-primary">
    <div class="panel-heading">Top {{pageSize}}</div>
    <div class="panel-body">
        <div>
            <a href ng-click="currentPage = 1"><<<</a>&nbsp;&nbsp;
            <span ng-repeat="(pageNumber,page) in pages track by $index">
              <button ng-class="{'btn-info': pageNumber + 1 == currentPage}" ng-click="gotoPage(pageNumber + 1)">{{pageNumber + 1}}</button>&nbsp;-
            </span>&nbsp;
            <a href ng-click="currentPage = pages.length">>>></a>

            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <td>
                        <a href ng-click="sortType = 'accountNumber'; sortReverse = !sortReverse">
                            Account Number
                            <span ng-show="sortType == 'accountNumber' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'accountNumber' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </td>
                    <td>
                        <a href ng-click="sortType = 'accountHolder.displayName'; sortReverse = !sortReverse">
                            Name
                            <span ng-show="sortType == 'accountHolder.displayName' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'accountHolder.displayName' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </td>
                    <td>
                        <a href ng-click="sortType = 'address.displayAddress'; sortReverse = !sortReverse">
                            Address
                            <span ng-show="sortType == 'address.displayAddress' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'address.displayAddress' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </td>
                    <td>
                        <a href ng-click="sortType = 'status'; sortReverse = !sortReverse">
                            Status
                            <span ng-show="sortType == 'status' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'status' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </td>
                    <td>
                        <a href ng-click="sortType = 'balance'; sortReverse = !sortReverse">
                            Balance
                            <span ng-show="sortType == 'balance' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'balance' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td><input type="text" ng-model="filter.accountNumber"></td>
                    <td><input type="text" ng-model="filter.accountHolder.displayName"></td>
                    <td><input type="text" ng-model="filter.address.displayAddress"></td>
                    <td>
                        <select ng-model="filter.status" ng-options="value.value as value.label for value in [
                    {value:undefined, label:'All'},
                    {value:'ACTIVE', label:'Active'},
                    {value:'PAUSED', label:'Paused'},
                    {value:'DISABLED', label:'Disabled'}
                    ]">
                        </select>
                    </td>
                    <td><input type="text" ng-model="filter.balance"></td>
                </tr>
                </thead>
                <tbody>
                <tr ng-click="showAccount(account.accountNumber)" ng-repeat="account in catchData((accounts | filter:filter | orderBy:sortType:sortReverse)) | limitTo:pageSize:pageSize*(currentPage-1) ">
                    <td>{{ account.accountNumber }}</td>
                    <td>{{ account.accountHolder.displayName }}</td>
                    <td>{{ account.address.displayAddress }}</td>
                    <td>{{ account.status }}</td>
                    <td>{{ account.balance }}</td>
                </tr>
                </tbody>
            </table>
    </div>
</div>
    </div>
