<div class="panel panel-primary">
    <div class="panel-heading">Service Map</div>
    <div class="panel-body">
        <div>
            <button ng-repeat="data in dayData" type="button" ng-class="{'btn-info': data.show, 'btn-default': !data.show}" ng-click="data.show = !data.show">{{data.title}}</button>
        </div>
        <div>
            Total clients: {{totalClients}}, Total bins: {{totalBins}}<span kb-role="ROLE_ADMIN">, Total monthly: {{totalMonthly}}</span>
        </div>
         <ui-gmap-google-map
                        center='map.center'
                        zoom='map.zoom' aria-label="Google map">
                    <ui-gmap-marker ng-repeat="marker in markers"
                                    coords="marker.coords"
                                    options="marker.options"
                                    events="marker.events"
                                    idkey="marker.id"
                                    icon="marker.icon"
                                    show="marker.show">
                        <ui-gmap-window>
                            <div>{{marker.title}}</div>
                        </ui-gmap-window>
                    </ui-gmap-marker>
                </ui-gmap-google-map>
                </div>
            </div>
