<div class="panel panel-primary">
	<div class="panel-heading">Submit Payment</div>
	<div class="panel-body">
		<div>
	        <form novalidate class="form-horizontal" role="form" name="paymentForm" ng-submit="paymentForm.$valid && submit(payment)">
	        	<div class="form-group">
					<label class="control-label col-sm-2" for="date">Date:</label> 
                    <div class="col-sm-10">
					   <input ng-click="viewFocused()" id="date" autocomplete="off" ng-model="payment.date" ng-required="true"/>
                    </div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" class="control-label col-sm-2" for="account">Account:</label>
                    <div class="col-sm-10">
                        <input type="text" id="account" ng-model="payment.account" 
                            placeholder="Search for customer"
                            typeahead-on-select="onSelect($item, $model, $label)"
                            typeahead="account as account.displayName for account in getCustomers($viewValue)" 
                            typeahead-loading="loadingLocations"
                            typeahead-editable="false" 
                            autocomplete="off"
                            class="form-control"
                            ng-required="true" />
                        <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                    </div>
				</div>
                <div class="form-group">				
                    <div class="col-sm-10">Balance:
					   <strong>R {{payment.account.balance}}</strong>-
						<span class="text-success" ng-if="payment.account.status == 'ACTIVE'">Active</span>
						<span class="text-warning" ng-if="payment.account.status == 'INACTIVE'">Suspended</span>
						<span class="text-danger" ng-if="payment.account.status == 'DISABLED'">Disabled</span>
						- Start date: {{payment.account.commencementDate | date}}
                    </div>
                </div>
				<div class="container">
                        <div class="col-sm-2" />
						<div class="col-sm-3">
							<strong>Latest Payments</strong>
							<div ng-repeat="payment in payments | limitTo:3">{{payment.date | date}}
								<strong>R {{payment.amount}}</strong>{{payment.reference}}</div>
						</div>
						<div class="col-sm-3">
							<strong>Latest Invoices</strong>
							<div ng-repeat="invoice in invoices | limitTo:3">{{invoice.date | date}}
								<strong>R {{invoice.amount}}</strong>								
							</div>
						</div>
						<div class="col-sm-4">
							<strong>Latest Services</strong>
							<div ng-repeat="service in services| limitTo:3">{{service.date | date}}
								<strong ng-class="{strikethrough : service.serviceRecord == 'BIN_UNREACHABLE'}">R {{service.date | date}}</strong>
							</div>
						</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="amount">Amount (R 0.00):</label> 
                    <div class="col-sm-10">
					   <input id="amount" class="form-control" ng-model="payment.amount" autocomplete="off" ng-required="true"/>
                    </div>
				</div>				
				<div class="form-group">
					<label class="control-label col-sm-2" for="type">Payment Type:</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="type" id="type" ng-model="payment.type" ng-required="true">
                            <option value="CASH">Cash</option>
                            <option value="DEPOSIT">Bank Deposit</option>
                            <option value="EFT">EFT</option>
							<option value="CHEQUE">Cheque</option>
                        </select>
                    </div>
				</div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="what"></label>
                    <div class="col-sm-10">
                        <input class="btn btn-default" type="submit" value="Submit" ng-disabled="!paymentForm.$valid" />
                    </div>
                </div>
        	</form>
		</div>
    </div>
</div>
