<div class="panel panel-primary">
	<div class="panel-heading">Edit Invoice</div>
	<div class="panel-body">
	        <form novalidate class="form-horizontal" role="form" name="invoiceForm" ng-submit="invoiceForm.$valid && submit(invoice)">
	        	<div class="form-group">
					<label class="control-label col-sm-2">Account:</label>
                    <div class="col-sm-10">
                       <a ng-href="#/account/{{invoice.account.accountNumber}}">{{invoice.account.displayName}}</a>
                    </div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2">Date:</label>
					<div class="col-sm-10">
						<span>{{invoice.date | date:'yyyy-MM-dd'}}</span>
					</div>
				</div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Reference:</label>
                    <div class="col-sm-10">
                        <span>{{invoice.reference}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Bins:</label>
                    <div class="col-sm-10">
                        <input type="number" id="numberOfBins" autocomplete="off" ng-model="invoice.numberOfBins" ng-required="true"/>
                    </div>
                </div>
				<div class="form-group">
					<label class="control-label col-sm-2" for="serviceCount">Service Count:</label>
					<div class="col-sm-10">
						<input type="number" id="serviceCount" autocomplete="off" ng-model="invoice.serviceCount" ng-required="true"/>
					</div>
				</div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Amount per service:</label>
                    <div class="col-sm-10">
                        <span>{{invoice.invoiceAmount}}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2">Total Amount:</label>
                    <div class="col-sm-10">
                        <span>{{invoice.serviceCount * invoice.invoiceAmount * invoice.numberOfBins}}</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2"></label>
                    <div class="col-sm-10">
                        <input class="btn btn-default" type="submit" value="Submit" ng-disabled="!invoiceForm.$valid" />
                    </div>
                </div>
        	</form>
    </div>
</div>
