<div class="panel panel-primary">
	<div class="panel-heading">
		Schedule
	</div>
	<div class="panel-body">
		<div>

	   <div class="form-group">
	        		<label class="control-label col-sm-2" for="account">Day:</label>
	        		<select ng-model="day" convert-to-number>
	        		  <option ng-selected="day == 0" value="0">Sunday</option>
	        		  <option ng-selected="day == 1" value="1">Monday</option>
	        		  <option ng-selected="day == 2" value="2">Tuesday</option>
	        		  <option ng-selected="day == 3" value="3">Wednesday</option>
	        		  <option ng-selected="day == 4" value="4">Thursday</option>
	        		  <option ng-selected="day == 5" value="5">Friday</option>
	        		  <option ng-selected="day == 6" value="6">Saturday</option>
	        		</select>
                    <select ng-model="filter.washDue" ng-options="value.value as value.label for value in [{value:undefined, label:'All'}, {value:true, label:'Due'}, {value:false, label:'Non due'}]">
	        		</select>
                    <select ng-model="filter.account.plan.frequency" ng-options="value.value as value.label for value in [
                    {value:undefined, label:'All'},
                    {value:'EVERY_WEEK', label:'Weekly'},
                    {value:'BI_WEEKLY', label:'fortnighly'},
                    {value:'ONCE_PER_MONTH', label:'Once Monthly'}
                    ]">
	        		</select>
	        </div> Washed for {{schedule.totalServicedThisWeek}}, {{schedule.totalRequiringServiceThisWeek}} to go out of {{schedule.totalClients}} clients with {{schedule.totalBins}} bins.
		</div>
         <div class="container">
	          <div class="row" ng-repeat="item in schedule.services | filter:filter">
	            <div class="col-sm-3">
		            {{item.account.address.shortDisplayAddress}} <br />
		            {{item.account.accountHolder.title}} {{item.account.accountHolder.firstName}} {{item.account.accountHolder.lastName}} <strong ng-class="{'text-danger': item.account.balance > 0, 'text-success': item.account.balance < 0}">R {{item.account.balance}}</strong> <br />
					{{item.account.plan.numberOfBins}} bin/s {{item.account.plan.frequency | servicefrequency}}
				</div>
	            <div class="col-sm-3">
					<span ng-repeat="service in item.services | orderBy:'weekStart':false">
						<span ng-show="service.serviceRecord == 'SERVICED'" style="border-style: solid; border-width: 1px;">&#10004;</span>
						<span ng-show="service.serviceRecord == 'NONE'" style="border-style: solid; border-width: 1px;">&nbsp;&nbsp;&nbsp;</span>
						<span ng-show="service.serviceRecord == 'BIN_UNREACHABLE'" style="border-style: solid; border-width: 1px;">&#10006;</span>
					</span>
	            </div>
	            <div class="col-sm-3">
		            <button type="button" ng-click="serviceAccount(item.account, 'SERVICED')" class="btn-warning" ng-show="item.washDue">Service</button>
					<button type="button" ng-click="serviceAccount(item.account, 'BIN_UNREACHABLE')" class="btn-danger" ng-show="item.washDue">No Bin</button>
	            </div>
				<hr />
	          </div>
	        </div>
	</div>
