/* app css stylesheet */

@import 'bower_components/bootstrap/dist/css/bootstrap-theme.min.css';
@import 'bower_components/bootstrap/dist/css/bootstrap.min.css';

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

@media (max-width: 767px) {
  .container-fluid, .row {
    padding:0px;
  }
  .navbar-header {
    margin:0px;
  }
  body { 
      padding-top: 10px;  
  }
}

.btn.sharp {
  border-radius:0;
}

#loading-bar-spinner {
  top: 50%;
  left: 50%;
}

.ng-invalid {
	border-color: red;
}

.strikethrough {
  text-decoration:line-through;
}

#sunBox {
    position:fixed; 
    margin-left:0%; 
    margin-top:-30%; 
    z-index:-1; 
}

.angular-google-map-container {
  height: 800px
}