
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
	    <meta http-equiv="Cache-Control" content="max-age=0" />
	    <meta http-equiv="Cache-Control" content="no-cache" />
	    <meta http-equiv="Expires" content="0" />
	    <meta http-equiv="Expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	    <meta http-equiv="Pragma" content="no-cache" />

        <link rel="icon" href="favicon.ico">

        <title>Kleenbin Administration</title>

        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css">
        <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css">

        <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>


        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="bower_components/moment/min/moment.min.js"></script>
        <script src="bower_components/angular-moment/angular-moment.min.js"></script>
        <script src="bower_components/n3-line-chart/build/line-chart.min.js"></script>
        <script src="bower_components/d3/d3.min.js"></script>
        <script src="bower_components/angular-ui-notification/dist/angular-ui-notification.min.js"></script>
        <link rel="stylesheet" type="text/css" href="bower_components/angular-ui-notification/dist/angular-ui-notification.min.css">
        <script src="bower_components/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
        <script src='bower_components/lodash/dist/lodash.min.js'></script>
        <script src="bower_components/angular-google-maps/dist/angular-google-maps.min.js"></script>

        <link rel='stylesheet' href='bower_components/angular-loading-bar/build/loading-bar.min.css' type='text/css' media='all' />
        <script type='text/javascript' src='bower_components/angular-loading-bar/build/loading-bar.min.js'></script>

        <script type="text/javascript" src="bower_components/datepickr/datepickr.js"></script>
        <link rel="stylesheet" type="text/css" href="bower_components/datepickr/datepickr.css">

	<script type="text/javascript" src="components/constants.js"></script>

        <script src="app.js"></script>
        <link href="app.css" rel="stylesheet">

        <script src="components/payment/PaymentModule.js"></script>
        <script src="components/expense/ExpenseModule.js"></script>
        <script src="components/invoice/InvoiceModule.js"></script>
        <script src="components/account/AccountModule.js"></script>
        <script src="components/authentication/AuthModule.js"></script>
        <script src="components/schedule/ScheduleController.js"></script>
        <script src="components/accountform/AccountformController.js"></script>
        <script src="components/admin/AdminController.js"></script>
        <script src="components/report/ReportModule.js"></script>
        <script src="components/dashboard/DashboardModule.js"></script>
        <script src="components/top10/Top10Module.js"></script>
        <script src="components/plan/PlanModule.js"></script>

    </head>

    <body ng-controller="rootController">
        <div id="sunBox">
            <img src="http://wwrw.co.za/resources/sun.png" />
        </div>
        <div class="container">
            <div data-spy="affix" data-offset-top="20" data-offset-bottom="20" style="z-index: 100">

                <button class="btn.sharp btn-info" ng-click="menuBack()" ng-show="currentMenuItem.parent.key">{{currentMenuItem.parent.key}}<<</button>
                <button class="btn.sharp" ng-hide="currentMenuItem.isHidden()" ng-click="activateParent(currentMenuItem)">{{currentMenuItem.key}}>></button>
                <button class="btn.sharp btn-primary" ng-repeat="item in currentMenuItem.items" ng-click="activateChild(item)" ng-hide="item.isHidden()">{{item.key}}</button>
            </div>
            <div class="" ng-view ></div>
        </div>
    </body>
</html>
