<div class="panel panel-primary">
	<div class="panel-heading">
		Previous Expenses
	</div>
	<div class="panel-body">
		<div>
                <div class="col-sm-10">			
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Reference</th>
                                <th>Created By</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-click="showExpense(expense.id)" ng-repeat="expense in allExpenses" ng-class-odd="success; selectable" ng-class-even="danger; selectable">
                                <td>{{expense.date | date}}</td>
                                <td>R {{expense.amount}}</td>
                                <td>{{expense.expenseType}}</td>
                                <td>{{expense.createdBy}}</td>
                            </tr>
                        </tbody>
                    </table>
	           </div>
		</div>
	</div>
</div>