<div class="panel panel-primary">
    <div class="panel-heading">Account Information: {{account.accountNumber ? account.accountNumber : 'New'}}</div>
    <div class="panel-body">
        <div>
            <form novalidate class="form-horizontal" role="form" name="accountForm" ng-submit="accountForm.$valid && submit(account)">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="title">Title:</label>
                    <div class="col-sm-10">
                        <select class="form-control" name="title" id="title" ng-model="account.accountHolder.title" ng-required="true">
                            <option value="Mr">Mr</option>
                            <option value="Ms">Ms</option>
                            <option value="Miss">Miss</option>
                            <option value="Mrs">Mrs</option>
                            <option value="Dr">Dr</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="firstName">Names:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="firstName" id="firstName" ng-model="account.accountHolder.firstName" ng-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="lastName">Lastname:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="lastName" id="lastName" ng-model="account.accountHolder.lastName" ng-required="true">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="phoneNumbers">Emails:</label>
                    <div class="col-sm-7">
                        <div ng-repeat="email in account.accountHolder.emailAddresses">
                            <input type="email" ng-model="email.email">
                            <a ng-click="account.accountHolder.emailAddresses.splice($index, 1)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </div>
                        <button type="button" ng-click="account.accountHolder.emailAddresses.push({'email':''})">Add Email</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="phoneNumbers">Phone numbers:</label>
                    <div class="col-sm-7">
                        <div ng-repeat="number in account.accountHolder.phoneNumbers">
                            <input type="text" ng-model="number.number">
                            <select ng-options="o as o for o in ['CELL', 'HOME', 'WORK', 'FAX']" ng-model="number.numberType">
                            </select>
                            <a ng-click="account.accountHolder.phoneNumbers.splice($index, 1)">
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                        </div>
                        <button type="button" ng-click="account.accountHolder.phoneNumbers.push({'number':'', 'numberType': 'CELL'})">Add Number</button>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="line1">Address:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="line1" id="line1" ng-model="account.address.addressLine1" ng-required="true" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="street">Street:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="street" id="street" ng-model="account.address.street" ng-required="true" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="surburb">Surburb:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="surburb" id="surburb" ng-model="account.address.surburb" ng-required="true" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="code">Code:</label>
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="code" id="code" ng-model="account.address.code" ng-required="true" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="dayOfCleaning">Day of cleaning:</label>
                    <div class="col-sm-10">
                        <select ng-options="item.number as item.label for item in [
                        		{'number': 2, 'label': 'Monday'},
                        		{'number': 3, 'label': 'Tuesday'},
                        		{'number': 4, 'label': 'Wednesday'},
                        		{'number': 5, 'label': 'Thursday'},
                        		{'number': 6, 'label': 'Friday'}]"
                        class="form-control" name="dayOfCleaning" id="dayOfCleaning" ng-model="account.dayOfCleaning" ng-required="true">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-sm-2" for="plans">Plan:</label>
                  <div class="col-sm-10">
                      <select ng-options="plan as plan.displayName for plan in plans track by plan.displayName"
                          class="form-control" name="plans" id="plans"
                          ng-model="account.plan" ng-required="true">
                      </select>
                  </div>
                </div>
                <div ng-show="!account.accountNumber">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="commencementdate">Commencement Date:</label>
                        <div class="col-sm-10">
                            <input ng-click="viewFocused()" id="commencementdate" autocomplete="off" ng-model="account.commencementDate" ng-required="true"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="consultant">Sales consultant:</label>
                        <div class="col-sm-10">
                            <select class="form-control" name="consultant" id="consultant" ng-model="account.salesConsultant" ng-required="true">
                                <option value="Kagiso Ledwaba">Kagiso Ledwaba</option>
                                <option value="Clive Bassie">Clive Bassie</option>
                                <option value="Clive Bassie">Brickson Masango</option>
                                <option value="Clive Bassie">Tseliso</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div ng-show="account.accountNumber">
                    <div class="form-group">
                        <label class="control-label col-sm-2">Commencement Date: </label>
                        <div class="col-sm-10">{{account.commencementDate | date:'yyyy-MM-dd'}}</div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="consultant">Sales consultant: </label>
                        <div class="col-sm-10">{{account.salesConsultant}}</div>
                    </div>
                </div>
                <input class="btn btn-default pull-left" type="submit" value="Save" ng-disabled="!accountForm.$valid"/>
                <div ng-if="account.accountNumber">
                    <a ng-show="account.status == 'ACTIVE'" class="btn btn-danger pull-right" ng-click="suspend(account)">Suspend</a>
                    <a ng-show="account.status == 'INACTIVE'" class="btn btn-danger pull-right" ng-click="suspend(account)">Disable</a>
                    <a ng-show="account.status == 'INACTIVE'" class="btn btn-success pull-right" ng-click="activate(account)">Activate</a>
                    <a ng-show="account.status == 'DISABLED'" class="btn btn-success pull-right" ng-click="activate(account)">Enable</a>
                </div>
            </form>
        </div>
    </div>
</div>
