<div class="panel panel-primary">
    <div class="panel-heading">Run Invoice</div>
    <div class="panel-body">
        <div>
            <form novalidate class="form-horizontal" role="form" name="invoiceForm"
                  ng-submit="invoiceForm.$valid && invoice(payload.date, payload.send)">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="date">Month:</label>
                    <div class="col-sm-10">
                        <input ng-click="viewFocused()" id="date" autocomplete="off" ng-model="payload.date"
                               ng-required="true"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="send">Send:</label>
                    <div class="col-sm-10">
                        <input id="send" type="checkbox" ng-model="payload.send"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="what"></label>
                    <div class="col-sm-10">
                        <input class="btn btn-default" type="submit" value="Submit" ng-disabled="!invoiceForm.$valid"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel-heading">Send Invoice</div>
    <div class="panel-body">
         <div>
            <form novalidate class="form-horizontal" role="form" name="invoiceSendForm"
                  ng-submit="invoiceSendForm.$valid && invoiceSend()">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="what"></label>
                    <div class="col-sm-10">
                        <input class="btn btn-default" type="submit" value="Submit" ng-disabled="!invoiceSendForm.$valid"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel-heading">System Information</div>
    <div class="panel-body">
        Latest Commit: <b>{{systemInfo.LatestCommit}}</b>
    </div>
</div>
