<div class="panel panel-primary">
	<div class="panel-heading">Plans</div>
	<div class="panel-body">

    <table>
      <thead>
        <tr>
          <td>Number Of Bins</td>
          <td>Frequency</td>
          <td>Price per Wash</td>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key, plan) in plans[currentYear]">
          <td>
						<select ng-model="plan.numberOfBins">
							<option ng-selected="plan.numberOfBins == 1" value="1">1</option>
							<option ng-selected="plan.numberOfBins == 2" value="2">2</option>
							<option ng-selected="plan.numberOfBins == 3" value="3">3</option>
							<option ng-selected="plan.numberOfBins == 5" value="5">5</option>
						</select>
					</td>
          <td>
						<select ng-model="plan.frequency">
							<option ng-selected="plan.frequency == 'ONCE_PER_MONTH'" value="ONCE_PER_MONTH">Once per Month</option>
							<option ng-selected="plan.frequency == 'BI_WEEKLY'" value="'BI_WEEKLY'">Fortnightly</option>
							<option ng-selected="plan.frequency == 'EVERY_WEEK'" value="'EVERY_WEEK'">Weekly</option>
							<option ng-selected="plan.frequency == 'DAILY'" value="'DAILY'">Daily</option>
						</select>
					</td>
          <td>
						<input type="number" ng-model="plan.price"></input>
					</td>
					<td>
						<input ng-show="plan.id" type="button" value="Update" ng-click="update(plan, key)"></input>
						<input ng-hide="plan.id" type="button" value="Save" ng-click="save(plan, key)"></input>
					</td>
        </tr>
      </tbody>
    </table>
		<button type="button" ng-click="newPlan()">New Plan</button>
		<br />

    <a ng-repeat="(year, yearPlans) in plans" ng-click="changeYear(year)">
      <b ng-if="currentYear == year">&nbsp;{{year}}&nbsp;</b>
      <span ng-if="currentYear != year">&nbsp;{{year}}&nbsp;</span>
    </a>
    <a ng-click="newYear()">&nbsp;NEW YEAR&nbsp;</a>
	</div>
</div>
