<div class="panel panel-primary">
	<div class="panel-heading">Account Infomation</div>
	<div class="panel-body">
		<div>
			<div class="form-group">
				<label class="control-label col-sm-2" for="account">Account:</label>
                <div class="col-sm-10">
                    <input type="text" id="account" ng-model="account"
                        placeholder="Search for account"
                        typeahead-on-select="onselect($item, $model, $label)"
                        typeahead="account as account.displayName for account in getAccounts($viewValue)"
                        typeahead-loading="loadingLocations"
                        typeahead-editable="false"
                        autocomplete="off" class="form-control">
                    <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
                </div>
			</div>
			<div ng-show="account">
				<div>Number of bins: {{account.plan.numberOfBins}} - Frequency: {{account.plan.frequency}} - Service day: {{account.dayOfCleaning | dayofservice}}</div>
				<div>Balance:
					<strong>R {{account.balance}}</strong>-
					<span class="text-success" ng-if="account.status == 'ACTIVE'">Active</span>
					<span class="text-warning" ng-if="account.status == 'INACTIVE'">Suspended</span>
					<span class="text-danger" ng-if="account.status == 'DISABLED'">Disabled</span>
					- Start date: {{account.commencementDate | date}}</div>
                <hr />
				<div ng-repeat="phone in account.accountHolder.phoneNumbers">
					<strong>{{phone.numberType}}</strong>: <a ng-href="tel:{{phone.number}}">{{phone.number}}</a> - <a  ng-show="phone.numberType == 'CELL'" ng-click="smsStatement(account)" class="btn btn-default"> Send statement</a>
                </div>
				<div ng-repeat="email in account.accountHolder.emailAddresses">
					<a ng-href="mailto:{{email.email}}"> {{email.email}}</a> - <a ng-click="emailStatement(account)" class="btn btn-default"> Send statement</a>
				</div>
                <hr />
				<div>
					<a class="btn btn-default" ng-click="downloadFile(reportLocation + '/account/' + account.accountNumber + '/' + 'statement.pdf', 'statement_' + account.accountNumber + '_' + todayString + '.pdf')">Download Statement</a>
					<a class="btn btn-default" ng-href="#/accountform/{{account.accountNumber}}">Edit Account</a>
					<a class="btn btn-default" ng-href="http://maps.google.com/maps?saddr=Current%20Location&daddr={{account.address.displayAddress | encodeURIComponent}}" target="_blank">Map</a>
				</div>
				<div class="container">
					<div class="row">
						<div class="col-sm-3">
							<strong>Payments</strong>
							<div ng-repeat="payment in payments | limitTo:10">
								<a class="small" ng-href="#/payment/{{payment.id}}">{{payment.date | date}} - R {{payment.amount}} - {{payment.reference}}</a>
							</div>
						</div>
						<div class="col-sm-3">
							<strong>Invoices</strong>
							<div ng-repeat="invoice in invoices | limitTo:10">
								<a class="small" ng-href="#/invoice/{{invoice.id}}">{{invoice.date | date}} - R {{invoice.amount}}</a>
							</div>
						</div>
						<div class="col-sm-4">
							<strong>Services</strong>
							<div ng-repeat="service in services | limitTo:10" ng-class="{strikethrough : service.serviceRecord == 'BIN_UNREACHABLE'}">{{service.date | date}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
